{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="toolbar" class="btn-group">
        <button id="bios_button" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
            BIOS客制化
        </button>
        <button id="bmc_button" type="button" class="btn btn-facebook">
            <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
            BMC客制化
        </button>
        <button id="fru_button" type="button" class="btn btn-adn">
            <span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span>
            FRU客制化
        </button>
    </div>
    <table id="bios" class="table table-hover" width="95%" align="center" style=" word-break:break-all;"></table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">请选择BIOS信息</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="bios_selectpicker" class="control-label">机器名称:</label>
                            <select class="selectpicker" id="bios_selectpicker" data-style="btn-primary">
                                <option value="0" data-content="<span class='label labrl-default'>---</span>">---
                                </option>
                                {% for each in bios.items %}
                                    <option value="{{ each.0 }}"
                                            data-content="<span class='label label-success'>{{ each.1 }}</span>">
                                        {{ each.1 }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group" id="bios_name" style="display: none">
                            <label for="bios_name_selectpicker" class="control-label">产品名称:</label>
                            <select class="selectpicker" id="bios_name_selectpicker" data-style="btn-primary">
                                {% for each in name %}
                                    <option value="{{ each }}"
                                            data-content="<span class='label label-success'>{{ each }}</span>">
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="bios_close" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                    </button>
                    <button type="button" id="bios_submit" class="btn btn-primary"><span
                            class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">请选择FRU信息</h4>
                </div>
                <div class="modal-body">
                    <form role="form" enctype='multipart/form-data' id="fru_form" action="{% url "control" %}"
                          method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="InputFile" class="control-label">FRU SN:</label>
                                <input type="file" id="InputFile" name="fru_sn">
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="data" name="msg">
                            </div>
                            <div class="form-group">
                                <label for="bios_selectpicker" class="control-label">机器名称:</label>
                                <select class="selectpicker" id="fru_selectpicker" data-style="btn-primary">
                                    <option value="0" data-content="<span class='label labrl-default'>---</span>">---
                                    </option>
                                    {% for each in bios.items %}
                                        <option value="{{ each.0 }}"
                                                data-content="<span class='label label-success'>{{ each.1 }}</span>">
                                            {{ each.1 }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group"  id="fru_name" style="display: none">
                                <label for="fru_name_selectpicker" class="control-label">产品名称:</label>
                                <select class="selectpicker" name="fru_name" id="fru_name_selectpicker" data-style="btn-primary">
                                    {% for each in name %}
                                        <option value="{{ each }}"
                                                data-content="<span class='label label-success'>{{ each }}</span>">
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="fru_close" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                    </button>
                    <button type="button" id="fru_submit" class="btn btn-primary"><span
                            class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'control/scripts/bios.js' %}"></script>
{% endblock %}