{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-lg-3 col-xs-8">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>{{ totalNum }}</h3>
                <p>当前在线数量</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-stalker"></i>
            </div>
            <a href="{% url "serverdetail" %}?name=on&status=OS off" class="small-box-footer">More info <i
                    class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-8">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>{{ runNum }}</h3>
                <p>正在运行数量</p>
            </div>
            <div class="icon">
                <i class="ion ion-person"></i>
            </div>
            <a href="{% url "serverdetail" %}?name=run&status=running" class="small-box-footer">More info <i
                    class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-8">
        <!-- small box -->
        <div class="small-box bg-yellow-active">
            <div class="inner">
                <h3>{{ stopNum }}</h3>
                <p>关机数量</p>
            </div>
            <div class="icon">
                <i class="ion ion-stop"></i>
            </div>
            <a href="{% url "serverdetail" %}?name=off&status=OS off" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-8">
        <!-- small box -->
        <div class="small-box bg-red-active">
            <div class="inner">
                <h3>{{ offNum }}</h3>
                <p>异常数量</p>
            </div>
            <div class="icon">
                <i class="ion ion-locked"></i>
            </div>
            <a href="{% url "serverdetail" %}?name=error&status=erro" class="small-box-footer">More info <i
                    class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-success box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">服务器连接数量</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    {{ count }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">服务器连接统计</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="">
                    {{ dic|upper }}
                </div>
            </div>
        </div>
    </div>

    <table width="95%" class="table table-hover" align="center" style=" word-break:break-all;">
        <thead>
        <tr>
            <th>
                <h5>ID</h5>
            </th>
            <th>
                <h5>IP</h5>
            </th>
            <th>
                <h5>hostname</h5>
            </th>
            <th>
                <h5>sn</h5>
            </th>
            <th>
                <h5>status</h5>
            </th>
            <th>
                <h5>CPU</h5>
            </th>
            <th>
                <h5>MEM</h5>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for i in form %}
            <tr>
                <td>{{ i.num }}</td>
                <td>
                    <pre>{{ i.ip }}</pre>
                </td>
                <td>{{ i.hostname }}</td>
                <td>
                    <pre>{{ i.sn }}</pre>
                </td>
                {% if i.status == "stop" or  i.status == "erro" or  i.status == "system halted" %}
                    <td><h3><span style="color: red; ">{{ i.status|upper }}</span></h3></td>
                {% elif i.status == "running" %}
                    <td><span style="color: blue; ">{{ i.status }}</span></td>
                {% elif i.status == "reload" or i.status == "wait" or i.status == "check" %}
                    <td><span style="color: green;">{{ i.status }}</span></td>
                {% else %}
                    <td><span style="font-size:16px;color: #FF0000; ">{{ i.status|upper }}</span></td>
                {% endif %}
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{ i.cpu }};min-width: 2em;">
                            {{ i.cpu }}
                        </div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{ i.mem }};min-width: 2em;">

                            {{ i.mem }}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block script %}
    <script src="{% static 'control/scripts/index.js' %}"></script>
{% endblock %}